In [1]:
import pandas as pd

In [2]:
df_casos_cat = pd.read_csv("Registre_de_casos_de_COVID-19_a_Catalunya_per_municipi_i_sexe.csv")
df_casos_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523564 entries, 0 to 523563
Data columns (total 11 columns):
TipusCasData           523564 non-null object
ComarcaCodi            519389 non-null float64
ComarcaDescripcio      519389 non-null object
MunicipiCodi           519389 non-null float64
MunicipiDescripcio     523564 non-null object
DistricteCodi          40648 non-null float64
DistricteDescripcio    523564 non-null object
SexeCodi               521364 non-null float64
SexeDescripcio         523564 non-null object
TipusCasDescripcio     523564 non-null object
NumCasos               523564 non-null int64
dtypes: float64(4), int64(1), object(6)
memory usage: 43.9+ MB

In [3]:
df_casos_cat = df_casos_cat.drop(columns=["ComarcaCodi", "MunicipiCodi", "DistricteCodi", "SexeCodi"])
df_casos_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523564 entries, 0 to 523563
Data columns (total 7 columns):
TipusCasData           523564 non-null object
ComarcaDescripcio      519389 non-null object
MunicipiDescripcio     523564 non-null object
DistricteDescripcio    523564 non-null object
SexeDescripcio         523564 non-null object
TipusCasDescripcio     523564 non-null object
NumCasos               523564 non-null int64
dtypes: int64(1), object(6)
memory usage: 28.0+ MB

In [4]:
df_casos_cat.head()

,TipusCasData,ComarcaDescripcio,MunicipiDescripcio,DistricteDescripcio,SexeDescripcio,TipusCasDescripcio,NumCasos
0,08/10/2020,MARESME,MATARÓ,No classificat,Dona,Positiu per Test Ràpid,1
1,05/07/2022,NOGUERA,VALLFOGONA DE BALAGUER,No classificat,Dona,Positiu TAR,2
2,12/06/2020,BAGES,SALLENT,No classificat,Dona,Positiu per Test Ràpid,1
3,13/01/2022,OSONA,CALLDETENES,No classificat,Dona,Positiu PCR,1
4,11/06/2022,VALLES OCCIDENTAL,TERRASSA,No classificat,Home,Positiu TAR,10

In [5]:
df_casos_barcelones =df_casos_cat.loc[df_casos_cat.ComarcaDescripcio == "BARCELONES"]

set(df_casos_barcelones["MunicipiDescripcio"])

{'BADALONA',
 'BARCELONA',
 "L'HOSPITALET DE LLOBREGAT",
 'SANT ADRIÀ DE BESÒS',
 'SANTA COLOMA DE GRAMENET'}

In [6]:
df_casos_barcelones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55798 entries, 12 to 523562
Data columns (total 7 columns):
TipusCasData           55798 non-null object
ComarcaDescripcio      55798 non-null object
MunicipiDescripcio     55798 non-null object
DistricteDescripcio    55798 non-null object
SexeDescripcio         55798 non-null object
TipusCasDescripcio     55798 non-null object
NumCasos               55798 non-null int64
dtypes: int64(1), object(6)
memory usage: 3.4+ MB

In [7]:
df_casos_barcelones.drop(columns="ComarcaDescripcio").info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55798 entries, 12 to 523562
Data columns (total 6 columns):
TipusCasData           55798 non-null object
MunicipiDescripcio     55798 non-null object
DistricteDescripcio    55798 non-null object
SexeDescripcio         55798 non-null object
TipusCasDescripcio     55798 non-null object
NumCasos               55798 non-null int64
dtypes: int64(1), object(5)
memory usage: 3.0+ MB

In [8]:
df_casos_barcelones = df_casos_barcelones.drop(columns=["ComarcaDescripcio", "DistricteDescripcio"])
df_casos_barcelones.head()

,TipusCasData,MunicipiDescripcio,SexeDescripcio,TipusCasDescripcio,NumCasos
12,15/04/2020,BARCELONA,Home,PCR probable,1
23,12/06/2022,BADALONA,Home,Positiu TAR,4
32,28/10/2020,BARCELONA,Home,Positiu per Test Ràpid,1
35,09/11/2021,BARCELONA,Home,Positiu PCR,5
41,12/03/2022,L'HOSPITALET DE LLOBREGAT,Home,Positiu PCR,1

In [9]:
df_casos_barcelones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55798 entries, 12 to 523562
Data columns (total 5 columns):
TipusCasData          55798 non-null object
MunicipiDescripcio    55798 non-null object
SexeDescripcio        55798 non-null object
TipusCasDescripcio    55798 non-null object
NumCasos              55798 non-null int64
dtypes: int64(1), object(4)
memory usage: 2.6+ MB

In [10]:
df_barcelones_towns = df_casos_barcelones.groupby(
    by=["TipusCasData",	"MunicipiDescripcio",
        "SexeDescripcio", "TipusCasDescripcio"],
        as_index=False).sum()

df_barcelones_towns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21722 entries, 0 to 21721
Data columns (total 5 columns):
TipusCasData          21722 non-null object
MunicipiDescripcio    21722 non-null object
SexeDescripcio        21722 non-null object
TipusCasDescripcio    21722 non-null object
NumCasos              21722 non-null int64
dtypes: int64(1), object(4)
memory usage: 1018.2+ KB

In [11]:
df_barcelones_towns.to_csv("Registre_de_casos_de_COVID-19_Barcelones_per_sexe.csv", index=False)

In [12]:
df_barcelones_towns.head()

  TipusCasData MunicipiDescripcio SexeDescripcio TipusCasDescripcio  NumCasos
0   01/01/2021           BADALONA           Dona        Positiu PCR         5
1   01/01/2021           BADALONA           Dona        Positiu TAR        12
2   01/01/2021           BADALONA           Dona  Positiu per ELISA         1
3   01/01/2021           BADALONA           Home        Positiu PCR         4
4   01/01/2021           BADALONA           Home        Positiu TAR        18